html
  head
    title finedust
  body
    h1 #{city}의 현재 미세먼지 농도
    div 
    each item in items 
      ul
        li #{item.cityName}
        li 측정일 #{item.dataTime}
        if item.pm10Value  == '-'
          li 미세먼지 측정 결과 없음
        else
          li 미세먼지 #{item.pm10Value}
        if item.pm25Value  == '-'
          li 초미세먼지 측정 결과 없음
        else
          li 초미세먼지 #{item.pm25Value}
